<div class="main">
  <main class="main__page">
    <div class="main__left">
      <div class="info_container">
        <p class="info_text">More than Faster</p>
        <img
          [src]="'../../assets/pics/info-img.png'"
          alt="info"
          class="info_img"
        />
      </div>

      <div class="header_text">
        <span class="text_1">Groceries delivered in as little as</span>
        <span class="text_2">2 hours</span>
      </div>

      <p class="text_desc">
        Grocen atssures fresh grocery every morning to your family without
        getting out in this pandemic.
      </p>

      <div class="button_container">
        <button class="button_order">Order Now</button>

        <div class="process_container">
          <button class="button_process">
            <i class="fa fa-solid fa-play"></i>
          </button>
          <span>Order Process</span>
        </div>
      </div>
    </div>

    <div class="main__right"></div>
  </main>
</div>
