<div class="header">
  <div class="header__logo">
    <img [src]="'../../assets/pics/logo.png'" alt="" class="header_img" />
  </div>

  <div class="header__menu">
    <ul>
      <li class="home">
        <a>Home</a>
      </li>

      <li>
        <a>Menu</a>
      </li>

      <li>
        <a>Service</a>
      </li>

      <li>
        <a>Shop</a>
      </li>
    </ul>
  </div>

  <div class="header__right">
    <div class="search_container">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Search..." class="search" />
      <div class="line"></div>
      <a class="cart"
        ><i class="fa fa-shopping-basket"></i>
        <div class="cart_notification pulse">2</div>
      </a>
    </div>
  </div>
</div>
